body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: rgb(232, 232, 176);
}
.container {
  width: 600px;
}

.btns {
  display: flex;
  gap: 0.5rem;
}

button {
  width: 40px;
  height: 40px;
}
